# vim
.*.swp

# data
data/
*_hisat-genotype.log
formatdb.log
HLAminer_HPRA_/

# python
__pycache__

# index
bwakit/
hisat/
hla_3*
hlala/
hlascan/
kourami/
vbseq/
xhla/
graphtyper/
optitype/
arcas/
soaphla/
hlaminer/
hlahd/
