# vim
.*.swp

# data
data/
*_hisat-genotype.log
formatdb.log
HLAminer_HPRA_/

# python
__pycache__

# index
arcas/
athlates/
bwakit/
graphtyper/
hisat/
hla_3*
hlaforest/
hlahd/
hlala/
hlaminer/
hlaprofiler/
hlascan/
hlassign/
kourami/
optitype/
phlat/
seq2hla/
soaphla/
stcseq/
t1k/
vbseq/
xhla/
